<configuration>
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:\Development\logs\minimal-not-a-bot\application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>C:\Development\logs\minimal-not-a-bot\application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>50</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger para capturar consultas do Hibernate SQL -->
    <logger name="org.hibernate.SQL" level="debug">
        <appender-ref ref="ROLLING"/>
    </logger>

    <!-- Logger para capturar parâmetros do Hibernate -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace">
        <appender-ref ref="ROLLING"/>
    </logger>

    <!-- Captura de todos os logs do nível raiz (sem console) -->
    <root level="info">
        <appender-ref ref="ROLLING"/>
    </root>
</configuration>
